<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new member</title>
</head>
<body>
    <h3>Create a new account</h3>
    <form th:action = "@{/saveFan}" th:object = "${fan}" method="POST">
        <input type="text" th:field = "*{nameFan}" placeholder="Name"><br>
        <input type="text" th:field = "*{firstNameFan}" placeholder="First Name"></br>
        <input type="password" th:field="*{password}" placeholder="Password"></br>
        <button type="submit">Save</button>
    </form>
</body>
</html>