<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Scuderia</title>
</head>
<body>
    <h3>Add a new scuderia</h3>
    <form th:action = "@{/saveEcurie}" th:object = "${ecurie}" method="POST">
        <input type="text" th:field = "*{nameEcurie}" placeholder="Enter scuderia name">
        <input type="number" th:field = "*{budget}" placeholder="Enter budget">
        <button type="submit">Save</button>
        <input type="hidden" th:field = "*{idEcurie}"> 
    </form>
</body>
</html>